.wrapper {
  padding: 24px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  //   justify-content: space-between;
  gap: 48px;
}

.imgWrapper {
  overflow: hidden;
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.img {
  border-radius: 100px;
  overflow: hidden;
}

.circleSpan {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 19px;
  background-color: #fff;
  border-radius: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  min-width: 968px;
  //   flex-grow: 1;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 32px;
}

.langText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
  margin-bottom: 8px;
}

.nameText {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #121417;
}

.statWrapper {
  display: flex;
  gap: 64px;
}

.statistics {
  display: flex;
  align-items: center;
  gap: 32px;
}

.statItem {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  display: flex;
  align-items: center;
  position: relative;
}

.statItem:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}

.ratingWrapper {
  gap: 8px;
}

.bookIcon {
  fill: transparent;
  stroke: #121417;
  margin-right: 8px;
}

.priceSpan {
  color: #38cd3e;
}

.likeIcon {
  fill: transparent;
  stroke: #121417;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.infoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.infoSpan {
  color: #8a8a89;
}

.underline {
  text-decoration: underline;
}

.readMoreBtn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  text-align: left;
  margin-bottom: 32px;
  width: 78px;
}

.levels {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.levelsItem {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background-color: #f4c550;
  border: none;
}

.levelsText {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  color: #121417;
}

.expandInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.lessonInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.reviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewRatingWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewerAvatar {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: #f2f4f7;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #f4c550;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.starWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.reviewText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.formBtn {
  width: 232px;
  margin-top: 32px;
  padding: 16px 48px;
}
