.container {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: none;

  @media (max-width: 1439px) {
    display: flex;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;

  &:hover {
    color: #338af3;
  }
}

.active {
  position: relative;
}

.active::after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #f4c550;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginBtn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.userWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIconWrapper {
  background-color: #f4c550;
  padding: 8px;
  border-radius: 12px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 8px;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
}

.logoutBtn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border-radius: 12px;
  padding: 14px 39px;
  height: 48px;
  background-color: #121417;

  &:hover {
    transform: scale(1);
    background-color: #2a2d32;
  }
}

.registerBtn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border-radius: 12px;
  padding: 14px 39px;
  height: 48px;
  background-color: #121417;

  &:hover {
    transform: scale(1);
    background-color: #2a2d32;
  }
}

.loader {
  min-width: 132px;
}
