.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  width: 472px;
  height: 52px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #121417;
  outline: none;
  padding: 16px 18px;

  @media (max-width: 1440px) {
    width: auto;
  }

  &::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #121417;
  }
}
