.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadBtn {
  padding: 16px 48px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  margin-top: 64px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 64px;
}

.emptyText {
  font-size: 24px;
  color: #121417;
  text-align: center;
}
