.form {
  display: flex;
  flex-direction: column;
}

.formSubtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;
  color: #121417;
  margin-bottom: 20px;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.legend {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;
  color: #121417;
  margin-bottom: 20px;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioLabel {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #121417;
  cursor: pointer;
}

.customRadio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  margin-top: 20px;
  width: 100%;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.radio:checked + .customRadio .radioCircle {
  display: block;
  border-color: #f4c550;
}

.radio:checked + .customRadio {
  border-color: #f4c550;
}

.customRadio {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #d0d0d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioCircle {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: #f4c550;
  display: none;
}

.errorContainer {
  min-height: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.radioErrorContainer {
  composes: errorContainer;
  margin-top: 8px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
}
