.container {
  padding: 64px;
  background-color: #fff;
  border-radius: 30px;
  max-width: 600px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeIcon {
  stroke: #121417;
}

.formTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 20px;
}

.formText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 20px;
}

.infoWrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.img {
  border-radius: 100px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nameText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
}

.teacherName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}

.form {
  display: flex;
  flex-direction: column;
}

.formSubtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;
  color: #121417;
  margin-bottom: 20px;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radioLabel {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: #121417;
}

.customRadio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  margin-top: 20px;
  width: 100%;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.radio:checked + .customRadio .radioCircle {
  display: block;
  border-color: #f4c550;
}

.radio:checked + .customRadio {
  border-color: #f4c550;
}

.customRadio {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #d0d0d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioCircle {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  background-color: #f4c550;
  display: none;
}

.errorContainer {
  min-height: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.radioErrorContainer {
  composes: errorContainer;
  margin-top: 8px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
}
